/* Page 1: Main Container & Navbar */
.main-container {
    background-color: #F8F3F1; /* */
}

.header {
    display: flex;
    width: 100%;
    padding: 10px;
}

.header div {
    padding: 10px;
    text-align: center;
}
.hdr-col1 {
    flex: 0 0 70%;
}
.hdr-col2 {
    flex: 0 0 10%;
}



.navbar {
    background-color: #E5D9B6;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15); /* dropshadow mapping */
    max-width: 100%;
}

.navbar-name {
    font-family: Georgia, serif;
    background-color: transparent;
    border: none;
    font-size: 35px;
    color: #40513b;
    cursor: pointer;
}

.navbar-name:hover {
    color: #6A7E3F;
}

.navbar-book-now {
    font-family: Georgia;
    font-size: 20px;
    background-color: #40513b;
    color: #E5D9B6;
    border-radius: 17px;
    border: none;
}
/* Page 2: StackPane & Search Bar */
.stack-pane {
    background-color: #40513b; /* */
}

.stack-pane-label {
    font-family: "Lucida Calligraphy", cursive;
    color: #E5D9B6;
    font-size: 30px;
}

.search-bar {
    background-color: white;
    padding: 15px;
    display: flex;
    gap: 30px; /* spacing mapping */
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.search-btn {
    background-color: #40513b;
    color: white;
    border-radius: 20px;
    border: none;
}
/* Page 3 & 5: Listings */
.vbox-listings {
    background-color: #ebebeb;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* */
}

.property-name-button {
    font-family: Georgia;
    color: #40513b;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.img {
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(128, 128, 128, 0.3); /* gray shadow */
}

.footer-title {
    font-family: Georgia;
    color: #40513b;
    font-size: 25px;
    font-weight: bold;
}
